.grid {
    margin: 2rem 4.5rem 6rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, h3, h6 {
    line-height: 2rem;
}

.naomi__image {
    border-radius: 200px;
}