.navbar {
    background-color: $eirieblack;
}

.logo__nav {
    height: 3rem;
    width: 7rem;
    margin: 1rem 5rem 1rem 5rem;
}

.nav-item {
    text-decoration-color: none;    
    color: $white;
}